[Unit]
Description=Transfera C++ API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/transfera/env
WorkingDirectory=/opt/transfera-client/server
Environment=PORT=8080
ExecStart=/opt/transfera-client/server/build/server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
